body{
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: white;
  overflow-x: visible;
}

.pai{
  position: relative;
  justify-content: center;
  z-index: 2
}
.cabeçalho{
  background-color: #e76eab;
  position: absolute;
  z-index: -1;
  height: 80px;
  width: 100%;
  bottom: -64px; 
  border-style:  solid;
  border-radius: 20px;
}
.titulo{
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: Dancing Script, serif;
}

.ComidaUm{
  position: absolute;
  border-style: solid;
  margin-top: 100px;
  margin-right: 400px;
}
a:hover{color: #e76eab;} 
a:visited{color: #90EE90;}

.ComidaUm h3{
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #90EE90;
  border-radius: 10px;
}

.ComidaUm img{
  width: 200px;
  border-radius: 50px;
}

.ComidaDOIS{
  background-attachment: fixed;
  position: absolute;
  margin-top: 100px;
  margin-left: 400px;
  align-items: center;
  border-style: solid;
  padding: 24px;
}
.ComidaDOIS img{
  height: 200px;
  width: 200px;
  border-radius: 50px;
}
.ComidaDOIS button{
  margin-left: 10px;
}
.ComidaDOIS h4{
  margin-right: 80px;
}


/*Pagina do Limão*/



.img-item img{
  position:absolute;
  width: 200px;
  top: 100px;
  left: 10px;
}
